Вариант 4

In [9]:
pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

In [12]:
df = pd.read_excel("https://github.com/junaart/ForStudents/raw/refs/heads/main/R/Zachet/DataSets/4.xlsx")

In [13]:
df.head()

,town1,Avg-Avg-О2011,Avg-Avg-О2012,Avg-Avg-О2013,Avg-Avg-О2014,Avg-Avg-О202,Avg-Avg-О203,Avg-Avg-О204,Avg-Avg-О205,Avg-Avg-О211,Avg-Avg-О212,Avg-Avg-О213,Avg-Avg-О221,Avg-Avg-О222,Avg-Avg-О223,Avg-Avg-О224,Avg-Avg-О23,Avg-Avg-О24
0,Абакан,24.125,9.275000,11.900000,7.4,45.325,3.025000,7.045,0.250000,734554.250000,135482.275000,1041.65,17608.100000,89.4,5841.525000,1124.175,1145.375,11561.400
1,Азовский район,4.000,2.333333,1.666667,0.0,0.000,2.333333,8.000,0.666667,10070.633333,7003.233333,11.40,10363.366667,0.0,5895.166667,0.000,0.000,10599.500
2,Аксайский район,35.250,7.500000,39.125000,5.0,1.750,4.975000,61.350,46.250000,77963.247500,47456.745000,538.00,156383.575000,0.0,2713.625000,1812.750,0.000,68427.425
3,Алексеевкий район,0.000,0.000000,0.000000,0.0,0.000,0.000000,0.000,0.000000,1777.500000,533.350000,0.00,1230.500000,0.0,0.000000,0.000,0.000,958.950
4,Анапа,6.500,2.000000,5.500000,0.0,0.000,3.000000,7.000,0.000000,1262.150000,495.950000,6057.40,13442.950000,0.0,0.000000,0.000,0.000,7009.900

In [29]:
pip install redis

Requirement already satisfied: redis in /usr/local/python/3.12.1/lib/python3.12/site-packages (5.2.1)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [15]:
import redis as rd

In [18]:
rd = rd.Redis(host='localhost', port=6379, db=0)

In [22]:
df["Avg-Avg-О2011"]

0      24.125000
1       4.000000
2      35.250000
3       0.000000
4       6.500000
         ...
276    19.650000
277    35.810833
278    35.666667
279    56.517857
280     8.666667
Name: Avg-Avg-О2011, Length: 281, dtype: float64

In [23]:
#Выбираем из столбца Avg-Avg-О2011 первый элемент
str(df["Avg-Avg-О2011"][0])

'24.125'

In [24]:
#Выбираем элемент 1 строки и первого столбца
df.iloc[0,0]

'Абакан'

In [25]:
#Выбираем весь первый столбец
df.iloc[:,0]

0                 Абакан
1         Азовский район
2        Аксайский район
3      Алексеевкий район
4                  Анапа
             ...
276       Южно-Сахалинск
277               Якутск
278                 Ялта
279            Ярославль
280    Ярославский район
Name: town1, Length: 281, dtype: object

In [26]:
#Выбираем все столбцы первой строки
df.iloc[0,]

town1                Абакан
Avg-Avg-О2011        24.125
Avg-Avg-О2012         9.275
Avg-Avg-О2013          11.9
Avg-Avg-О2014           7.4
Avg-Avg-О202         45.325
Avg-Avg-О203          3.025
Avg-Avg-О204          7.045
Avg-Avg-О205           0.25
Avg-Avg-О211      734554.25
Avg-Avg-О212     135482.275
Avg-Avg-О213        1041.65
Avg-Avg-О221        17608.1
Avg-Avg-О222           89.4
Avg-Avg-О223       5841.525
Avg-Avg-О224       1124.175
Avg-Avg-О23        1145.375
Avg-Avg-О24         11561.4
Name: 0, dtype: object

In [32]:
import redis as rd
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О2011"])):
    r.set(key+str(i),str(df["Avg-Avg-О2011"].iloc[i]))

In [33]:
r.get("my0")

b'24.125'

In [38]:
df["Avg-Avg-О2012"]

0       9.275000
1       2.333333
2       7.500000
3       0.000000
4       2.000000
         ...
276     5.300000
277    11.278333
278    11.833333
279    18.764286
280     3.666667
Name: Avg-Avg-О2012, Length: 281, dtype: float64

In [41]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О2012"])):
    r.set(key+str(i),str(df["Avg-Avg-О2012"].iloc[i]))

In [63]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О2012"])):
    r.set(key+str(i),str(df["Avg-Avg-О2012"].iloc[i]))

In [64]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О2013"])):
    r.set(key+str(i),str(df["Avg-Avg-О2013"].iloc[i]))

In [65]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О2014"])):
    r.set(key+str(i),str(df["Avg-Avg-О2014"].iloc[i]))

In [67]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О202"])):
    r.set(key+str(i),str(df["Avg-Avg-О202"].iloc[i]))

In [68]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О203"])):
    r.set(key+str(i),str(df["Avg-Avg-О203"].iloc[i]))

In [69]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О204"])):
    r.set(key+str(i),str(df["Avg-Avg-О204"].iloc[i]))

In [70]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О205"])):
    r.set(key+str(i),str(df["Avg-Avg-О205"].iloc[i]))

In [71]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О211"])):
    r.set(key+str(i),str(df["Avg-Avg-О211"].iloc[i]))

In [72]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О212"])):
    r.set(key+str(i),str(df["Avg-Avg-О212"].iloc[i]))

In [73]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О213"])):
    r.set(key+str(i),str(df["Avg-Avg-О213"].iloc[i]))

In [74]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О221"])):
    r.set(key+str(i),str(df["Avg-Avg-О221"].iloc[i]))

In [75]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О222"])):
    r.set(key+str(i),str(df["Avg-Avg-О222"].iloc[i]))

In [76]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О223"])):
    r.set(key+str(i),str(df["Avg-Avg-О223"].iloc[i]))

In [77]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О224"])):
    r.set(key+str(i),str(df["Avg-Avg-О224"].iloc[i]))

In [78]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О23"])):
    r.set(key+str(i),str(df["Avg-Avg-О23"].iloc[i]))

In [79]:
r=rd.Redis() 
key = "my"
for i in range(len(df["Avg-Avg-О224"])):
    r.set(key+str(i),str(df["Avg-Avg-О224"].iloc[i]))